@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
    color: black !important;
    font-size: 10pt;
  }

  header, nav, .print\:hidden {
    display: none !important;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}
